**/__pycache__
###START: python build artifacts
/build/
/dist/
/FPLI_Minimum_Commutes.egg-info/
config.py
*.env
*.csv
!input_data_example.csv # keep the example input file
*.xlsx
##END: python build artifacts
